<section class="cladsafe">
    <div class="cladsafe-ol">
        <div class="container">
            <div class="row">
                <div class="col-md-66">
                    <div class="ct" id="cladsafeQuote">
                        @Html.Raw(Model.GetWebsiteResourceByCallName(Model.WebsiteBundle, "CladsafeText"))
                    </div>
                </div>

                <div class="col-md-24 col-md-offset-10 cladsafe-bt">
                    <a class="btn btn-primary" href="http://cladsafe.nl/" target="_blank">Bekijk de Cladsafe</a>
                </div>
            </div>
        </div>
    </div>
</section>