<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-75">
                <p>&copy; 2017 - 2018 Cladding Partners | Design & Development by <a href="https://www.unveil.nl/" target="_blank">Unveil</a></p>
            </div>
            <div class="col-md-25 text-right">
                <p><a href="https://www.cladding.nl/privacyverklaring.pdf" target="_blank" style="font-weight: 500;">@Html.Raw(Model.GetWebsiteResourceByCallName(Model.WebsiteBundle, "footerDisclaimer"))</a> | @Html.Raw(Model.GetWebsiteResourceByCallName(Model.WebsiteBundle, "FooterLiText")) <a href="https://nl.linkedin.com/company/cladding-partners-b-v-" target="_blank">LinkedIn</a></p>
            </div>
        </div>
    </div>
</footer>